{% extends 'base/base.html' %}

{% block body %}
    <!-- NAVBAR FOR LANDING -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-white border-bottom">
        <div class="container-fluid px-5">
            <a class="navbar-brand" href="/">
                <img src="{{ url_for('static', filename='images/brand_identity/logo_whole.png') }}" alt="" height="30" class="d-inline-block align-text-top">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto fs-6">
                    <li class="nav-item mt-4 mb-2 my-md-auto me-1 ">
                        <a class="nav-link btn btn-success text-white rounded-pill px-3" href="{{ url_for('delivery.create') }}">
                            <i class="bi bi-plus-lg me-1"></i>Send Parcel</a>
                    </li>
                    {% if current_user.is_driver %}
                        {% if current_user.is_in_driving_session() %}
                            <li class="nav-item my-2 my-md-auto me-1">
                                <a class="nav-link btn btn-warning fw-bold rounded-pill px-3" href="{{ url_for('driver.next_step_session') }}">
                                    <i class="bi bi-exclamation-circle"></i>
                                    Active session
                                </a>
                            </li>
                        {% else %}
                            <li class="nav-item my-2 my-md-auto me-1">
                                <a class="nav-link btn btn-dark text-white rounded-pill px-3" href="{{ url_for('driver.start_session') }}">
                                    <i class="bi bi-arrow-bar-right"></i>
                                    Start Driving Session
                                </a>
                            </li>
                        {% endif %}
                    {% else %}
                        <li class="nav-item my-2 my-md-auto me-1">
                            <a class="nav-link btn btn-dark text-white rounded-pill px-3" href="{{ url_for('driver.create') }}">
                                Become a driver
                            </a>
                        </li>
                    {% endif %}

                    <li class="nav-item">
                        <div class="dropdown">
                            <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                {% if current_user.is_authenticated %}
                                    <img src="{{ url_for('static', filename='profile_pics/{}'.format(current_user.image_file)) }}" alt="" class="rounded-circle" width="48" height="48">
                                {% else %}
                                    <img src="{{ url_for('static', filename='profile_pics/default_user_image.jpg') }}" alt="" class="rounded-circle" width="48" height="48">
                                {% endif %}
                            </button>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton1">
                                {% if current_user.is_authenticated %}
                                    <li><div class="dropdown-item-text">Hello <b>{{ current_user.username }}</b></div></li>
                                    <li><a class="dropdown-item" href="{{ url_for('show_dashboard') }}">Dashboard</a>  </li>
                                    <li><a class="dropdown-item" href="{{ url_for('user.settings') }}">Your account</a>  </li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" href="{{ url_for('auth.logout') }}">Logout</a></li>
                                {% else %}
                                    <li><a class="dropdown-item" href="/login">Login</a></li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" href="/signup">Sign Up</a></li>
                                {% endif %}

                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    {% block content %}
    {% endblock %}
{% endblock %}