{% extends "base/base_landing.html" %}

{% block content %}
    <div class="container col-xxl-8 px-4 pt-5 pb-3 mt-5">
        <div class="col-12 col-md-6 mx-auto">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <h4 class="fw-bold lh-1 mb-3">Reset password</h4>
            <p>We sent an email to <b>{{ email }}</b> with the instructions to reset the password.</p>
        </div>
    </div>
{% endblock %}