{% extends "base/base_landing.html" %}

{% block content %}
    <div class="container col-lg-4 px-4 py-5 mt-5">
        <div class="col-12 mx-auto">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <div class="row mb-3">
                <div class="col-12">
                    <h4 class="fw-bold lh-1 mb-3">Delivery {{ delivery.tracking_id }}</h4>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-12">
                    <h5 class="text-center">Please {{ action_string }} the parcel in space</h5>
                </div>
            </div>
            <div class="row mb-4">
                <div class="col-12">
                    <h1 class="display-1 text-center fw-bold">{{ locker_space.id }}</h1>
                </div>
            </div>
            <div class="row mb-3 d-flex justify-content-center align-content-center">
                <div class="col-10 col-md-6">
                    <a class="btn btn-success text-white rounded-pill px-3 btn-lg w-100" href="{{ url_for('locker.process_deliveries', locker_id=locker_id, delivery_string=delivery_string) }}">Next <i class="bi bi-arrow-right ml-1"></i></a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}