{% extends "base/base_dashboard.html" %}

{% block content %}
    <div class="container col-xxl-8 px-4 py-5 mt-5">
        <div class="col-12 col-md-6 mx-auto">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <h4 class="fw-bold lh-1 mb-3">Add a car</h4>
            <form class="p-1 p-md-1 form-floating" method="POST" action="">
                {{  form.hidden_tag() }}
                <div class="form-floating">
                    {{ form.license_plate(class="form-control form-control-lg mb-3 rounded-pill px-4", placeholder="You want to send it from...", list="datalistOptions") }}
                    {{ form.license_plate.label(class="px-4") }}
                </div>

                {{ form.submit(class="w-100 btn btn-lg btn-primary rounded-pill") }}

            </form>
        </div>
    </div>
{% endblock %}